<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find robots_description)/robots/robot_system_config.urdf.xacro'" />
			
  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <!-- Show in RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d '$(find robots_description)/launch/pa_demo_scene.rviz'"/>

</launch>
